<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.MarketMapper">

    <insert id="insertMarket" parameterType="com.example.demo.domain.Market" useGeneratedKeys="true" keyProperty="id">
        insert into market(name, owner, description, level, address, phone)
        values (#{name}, #{owner}, #{description}, #{level}, #{address}, #{phone})

    </insert>

    <insert id="insertMarketTime" parameterType="java.util.List">
        insert into
            times
            (day, open, close, marketId)
        values
        <foreach collection="list" item="item" separator=",">
             (#{item.day}, #{item.open}, #{item.close}, #{item.marketId})
        </foreach>

    </insert>

    <delete id="deleteTime" parameterType="HashMap">
        delete from times
        where marketid = #{id}
    </delete>

    <delete id="deleteMarket" parameterType="HashMap">
        delete from market
        where id = #{id}
    </delete>

    <insert id="insertHoliday" parameterType="HashMap">
        update market set holidays = #{holidays}
        where id = #{id}
    </insert>

    <select id="selectAllMarket" resultType="com.example.demo.domain.Market" parameterType="HashMap">
        select id, name, owner, description, level, address, phone, holidays as selectHolidays
        from market
        <if test="check == 'check'" >
        where id = #{id}
        </if>
        order by level

    </select>

    <select id="selectAllTimes" parameterType="HashMap" resultType="com.example.demo.domain.Times">
        select id, day, open, close, marketid
        from times
        where marketid = #{id}

    </select>
</mapper>